"$schema": http://json-schema.org/draft-07/schema#
"$ref": "#/definitions/Config"
definitions:
  Config:
    type: object
    additionalProperties: false
    properties:
      cvs:
        "$ref": "#/definitions/CVS"
      docker:
        "$ref": "#/definitions/Docker"
      kubernetes:
        "$ref": "#/definitions/Kubernetes"
      project:
        "$ref": "#/definitions/Project"
      jenkins:
        "$ref": "#/definitions/Jenkins"
      sbt:
        "$ref": "#/definitions/Sbt"
      slack:
        "$ref": "#/definitions/Slack"
      jira:
        "$ref": "#/definitions/Jira"
    required:
      - cvs
      - docker
    title: MPyL global configuration
  Kubernetes:
    type: object
    additionalProperties: false
    properties:
      rancher:
        type: object
        additionalProperties: false
        properties:
          cluster:
            "$ref": "#/definitions/RancherClusters"
  RancherClusters:
    type: object
    additionalProperties: false
    properties:
      test:
        "$ref": "#/definitions/RancherCluster"
      acceptance:
        "$ref": "#/definitions/RancherCluster"
      production:
        "$ref": "#/definitions/RancherCluster"
  RancherCluster:
    type: object
    additionalProperties: false
    properties:
      clusterId:
        type: string
      projectId:
        type: string
      clusterEnv:
        type: string
      context:
        type: string
    required: [ clusterId, projectId, clusterEnv, context ]
  CVS:
    type: object
    additionalProperties: false
    properties:
      git:
        "$ref": "#/definitions/Git"
      github:
        "$ref": "#/definitions/Github"
    required:
      - git
      - github
    title: CVS
  Git:
    type: object
    additionalProperties: false
    properties:
      mainBranch:
        type: string
    required:
      - mainBranch
    title: Git
  Github:
    type: object
    additionalProperties: false
    properties:
      repository:
        type: string
      token:
        type: string
      app:
        type: object
        properties:
          privateKeyPath:
            description: Used to authenticate with github if the app is used (https://github.com/apps/mpyl-pipeline)
            type: string
          privateKeyBase64Encoded:
            description: Used to authenticate with github if the app is used (https://github.com/apps/mpyl-pipeline)
            type: string
          appId:
            description: The id of the github app (https://github.com/apps/mpyl-pipeline) that has permission to update checks
            type: string
            default: 295700
        required:
          - appId
    required:
      - repository
      - token
    title: Github
  Docker:
    type: object
    additionalProperties: false
    properties:
      registry:
        "$ref": "#/definitions/Registry"
      build:
        "$ref": "#/definitions/Build"
      compose:
        type: object
        properties:
          periodSeconds:
            description: "Polling interval for checking if containers are up"
            type: integer
            default: 2
          failureThreshold:
            description: "Maximum number of times to poll before considering 'docker-compose up' failed"
            type: integer
            default: 20
        required: ['periodSeconds', 'failureThreshold']
    required:
      - registry
    title: Docker
  Build:
    type: object
    additionalProperties: false
    properties:
      rootFolder:
        type: string
      buildTarget:
        description: "The target in the multi-stage docker file to build in the 'build' stage"
        type: string
      testTarget:
        description: "The target in the multi-stage docker file to build in the 'test' stage"
        type: string
      dockerFileName:
        type: string
    required: [ rootFolder, buildTarget, dockerFileName ]
  Registry:
    type: object
    additionalProperties: false
    properties:
      hostName:
        type: string
      userName:
        type: string
      password:
        type: string
    required:
      - hostName
      - password
      - userName
    title: Registry
  Sbt:
    type: object
    additionalProperties: false
    properties:
      command:
        type: string
      verbose:
        default: false
        type: boolean
      testWithCoverage:
        type: string
      javaOpts:
        type: string
      sbtOpts:
        type: string
    required:
      - command
      - javaOpts
      - sbtOpts
    title: Sbt
  Project:
    type: object
    additionalProperties: false
    properties:
      deployment:
        type: object
        additionalProperties: false
        properties:
          kubernetes:
             "$ref": "project.schema.yml#/definitions/kubernetes"
  Slack:
    type: object
    additionalProperties: false
    properties:
      botToken:
          type: string
      icons:
        type: object
        properties:
          success:
            type: string
          failure:
            type: string
        required: ['success', 'failure']
    required:
      - botToken
      - icons
  Jenkins:
    type: object
    additionalProperties: false
    properties:
      url:
        type: string
        format: url
      pipelines:
        type: object
        additionalProperties: {"type": "string"}
      defaultPipeline:
        type: string
  Jira:
    type: object
    additionalProperties: false
    properties:
      site:
        description: "Only works with the cloud version of Jira"
        type: string
        format: uri
      userName:
        type: string
      password:
        type: string
    required:
      - site
      - userName
      - password
