cvs:
  git:
    mainBranch: 'main'
  github:
    repository: 'Vandebron/mpyl'
    token: !ENV ${GITHUB_TOKEN}
    app:
      privateKeyBase64Encoded: !ENV ${MPYL_GITHUB_APP_PRIVATE_KEY}
      appId: '295700'
slack:
  botToken: !ENV ${SLACK_TOKEN}
  icons:
    success: ':thug-parrot:'
    failure: ':sadparrot:'
docker:
  registry:
    hostName: 'bigdataregistry.azurecr.io'
    userName: !ENV ${DOCKER_REGISTRY_USR:user}
    password: !ENV ${DOCKER_REGISTRY_PSW:password}
  build:
    rootFolder: '.'
    buildTarget: 'builder'
    testTarget: 'tester'
    dockerFileName: 'Dockerfile-mpl'
  compose:
    periodSeconds: 2
    failureThreshold: 20
sbt:
  command: 'sbt'
  javaOpts: '-Xmx4G -Xms4G -XX:+UseG1GC -XX:+CMSClassUnloadingEnabled -Xss2M'
  sbtOpts: 'user.timezone=GMT jline.terminal=jline.UnixTerminal'
kubernetes:
  rancher:
    cluster:
      test:
        clusterId: c-z8wzm
        projectId: p-k9l47
        clusterEnv: test
        context: vdb-core-digital-k8s-test
      acceptance:
        clusterId: c-6mkzg
        projectId: p-ckqxz
        clusterEnv: acce
        context: vdb-core-digital-k8s-acce
      production:
        clusterId: c-r8bj6
        projectId: p-lb52t
        clusterEnv: prd
        context: vdb-core-digital-k8s-prod
project: # default values
  deployment:
    kubernetes:
      resources:
        instances:
          pr: 1
          test: 1
          acceptance: 1
          production: 3
        limit:
          cpus:
            pr: 0.5
            test: 0.5
            acceptance: 0.5
            production: 1.0
          mem:
            pr: 1024
            test: 1024
            acceptance: 1024
            production: 2048
      startupProbe:
        path:
          all: '/health'
        initialDelaySeconds: 4  # 0 - We expect service to rarely be up within 4 secs.
        periodSeconds: 2  # 10 - We want the service to become available as soon as possible
        timeoutSeconds: 3  # 1 - If the app is very busy during the startup stage, 1 second might be too fast
        successThreshold: 1  # 1 - We want the service to become available as soon as possible
        failureThreshold: 60  # 3 - 4 + 60 * 2 = more than 2 minutes
      livenessProbe:
        path:
          all: '/health'
        periodSeconds: 30  # 10
        timeoutSeconds: 20  # 1 - Busy apps may momentarily have long timeouts
        successThreshold: 1  # 1
        failureThreshold: 3  # 3
      metrics:
        path: '/metrics'
        enabled: true
