cvs:
  git:
    mainBranch: 'main'
    ignorePatterns: ['*.md', '*.svg']
    remote:
      url: 'https://github.com/acme/repo.git'
      userName: !ENV ${GIT_CREDENTIALS_USR}
      password: !ENV ${GIT_CREDENTIALS_PSW}
  github:
    repository: 'acme/repo'
    token: !ENV ${GITHUB_TOKEN}
    app:
      privateKeyBase64Encoded: !ENV ${MPYL_GITHUB_APP_PRIVATE_KEY}
      appId: '295700'
slack:
  botToken: !ENV ${SLACK_TOKEN}
  icons:
    building: '60fps_parrot'
    success: 'thug-parrot'
    failure: 'sadparrot'
jira:
  site: 'https://acme.atlassian.net'
  userName: !ENV ${MPYL_JIRA_TOKEN_USR:jira_user}
  password: !ENV ${MPYL_JIRA_TOKEN_PSW:jira_password}
  ticketPattern: '[A-Za-z]{2,}-\d+'
docker:
  registry:
    hostName: 'acme.docker.com'
    userName: !ENV ${DOCKER_REGISTRY_USR:docker_user}
    password: !ENV ${DOCKER_REGISTRY_PSW:docker_password}
  build:
    rootFolder: '.'
    buildTarget: 'builder'
    testTarget: 'tester'
    dockerFileName: 'Dockerfile-mpl'
  compose:
    periodSeconds: 2
    failureThreshold: 20
jenkins:
  url: 'https://acme.infra.nl/'
  pipelines:
    some-pipeline: 'Acme Pipeline - Main'
    mpyl-test: 'MPyL Pipeline - Test'
  defaultPipeline: 'mpyl-test'
sbt:
  command: 'sbt'
  clientCommand: 'sbtn'
  testWithCoverage: !ENV ${SBT_RUN_WITH_COVERAGE:false}
  verbose: false
  javaOpts: '-Xmx4G -Xms4G -XX:+UseG1GC -XX:+CMSClassUnloadingEnabled -Xss2M'
  sbtOpts: 'user.timezone=GMT jline.terminal=jline.UnixTerminal'
  clientMode:
    build: false
    test: false
whiteLists:
  default: [ "VPN" ]
  addresses:
    - name: "VPN"
      values: [ "10.0.0.1" ]
    - name: 'Outside-World'
      values: [ '0.0.0.0/0' ]
    - name: 'K8s-Test'
      values: [ '1.2.3.0', '1.2.3.1' ]
kubernetes:
  rancher:
    cluster:
      test:
        clusterId: c-acme
        projectId: p-acme
        clusterEnv: test
        context: acme-k8s-test
      acceptance:
        clusterId: c-acme
        projectId: p-acme
        clusterEnv: acce
        context: acme-k8s-acce
      production:
        clusterId: c-acme
        projectId: p-lb52t
        clusterEnv: prd
        context: acme-k8s-prod
project: # default values
  allowedMaintainers: [ 'Team1', 'Team2' ]
  deployment:
    kubernetes:
      job:
        ttlSecondsAfterFinished:
          all: 3600
      resources:
        instances:
          pr: 1
          test: 1
          acceptance: 1
          production: 3
        limit:
          cpus:
            pr: 0.5
            test: 0.5
            acceptance: 0.5
            production: 1.0
          mem:
            pr: 1024
            test: 1024
            acceptance: 1024
            production: 2048
      startupProbe:
        path:
          all: '/health'
        initialDelaySeconds: 4  # 0 - We expect service to rarely be up within 4 secs.
        periodSeconds: 2  # 10 - We want the service to become available as soon as possible
        timeoutSeconds: 3  # 1 - If the app is very busy during the startup stage, 1 second might be too fast
        successThreshold: 1  # 1 - We want the service to become available as soon as possible
        failureThreshold: 60  # 3 - 4 + 60 * 2 = more than 2 minutes
      livenessProbe:
        path:
          all: '/health'
        periodSeconds: 30  # 10
        timeoutSeconds: 20  # 1 - Busy apps may momentarily have long timeouts
        successThreshold: 1  # 1
        failureThreshold: 3  # 3
      metrics:
        path: '/metrics'
        enabled: true
    traefik:
      enabled: true
      hosts:
        - host:
            pr: "Host(`{SERVICE-NAME}-{PR-NUMBER}.test-backend.nl`)"
            test: "Host(`{namespace}-{SERVICE-NAME}.test-backend.nl`)"
            acceptance: "Host(`{namespace}-{SERVICE-NAME}.acce-backend.nl`)"
            production: "Host(`{namespace}-{SERVICE-NAME}.prod-backend.nl`)"
          tls:
            all: "le-custom-prod-wildcard-cert"
          insecure: false
          whitelists:
            all: [ "VPN" ]