[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==5.4.1"

[dev-packages]
toml = "==0.10.2"


[requires]
python_version = "3.9"

[scripts]
build = "python setup.py sdist bdist_wheel"
test = "python -m unittest"