[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "==4.17.0"
mypy = "==0.991"
gitpython = "==3.1.30"
"ruamel.yaml" = "==0.17.21"
kubernetes = "==25.3.0"
junitparser = "==2.8.0"
pyjwt = "==2.5.0" # forced downgrade due to https://stackoverflow.com/questions/33198428/jwt-module-object-has-no-attribute-encode
cryptography = "==39.0.1"
python-on-whales = "==0.59.0"
pygithub = "==1.58.0"

[dev-packages]
toml = "==0.10.2"
types-jsonschema = "==4.17.0.1"
types-pyyaml = "==6.0.12.2"
twine = "==4.0.1"
rich = "==12.5.1"
types-six = "==1.16.21.4"
dagit = "==1.1.17"
dagster = "==1.1.17"
pyaml-env = "==1.2.1"
pylint = "==2.15.10"
pytest = "==7.2.1"
pdoc = "==12.3.1"
sqlalchemy = "<2.0.0" # forced downgrade https://github.com/dagster-io/dagster/discussions/11881

[requires]
python_version = "3.9"

[scripts]
build = "python setup.py install bdist bdist_wheel"
lint = "pylint --rcfile .pylintrc src/"
test = "pytest -W ignore::pytest.PytestCollectionWarning"
test-ci = "pytest --junitxml=build/test-result/test.xml"
doc = "python -m pdoc -d restructuredtext -o docs/ src/mpyl"
doc-preview = "python -m pdoc -d restructuredtext src/mpyl"
check-types = "mypy --explicit-package-bases src/mpyl/ "
validate = "bash -c 'mypy --explicit-package-bases src/mpyl/ && pytest -W ignore::pytest.PytestCollectionWarning && pylint src/'"
install-types ="mypy --install-types --non-interactive src/mpyl/  "
run = "python mpyl-example.py --local --dryrun --all"
run-ci = "python mpyl-example.py"
run-dagster = "python mpyl-example-runner.py"
