# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml
/libraries/
vcs.xml
watcherTasks.xml
/scala_compiler.xml
kubernetes-settings.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
compiler.xml
gradle.xml
jarRepositories.xml
kotlinc.xml
ruff.xml
modules.xml
