name: build

on:
  push:
    branches-ignore: ['main']

jobs:
  Build_Package:
    runs-on: ubuntu-latest
    env:
      PIPENV_VENV_IN_PROJECT: true
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Cache Dependencies
        uses: actions/cache@v2
        id: cache-dependencies
        with:
          path: ./.venv
          key: ${{ runner.os }}-pip-${{ hashFiles('**/Pipfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pipenv

      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: install -d --deploy

      - name: Run lint
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run lint

      - name: Install Types
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run install-types

      - name: Validate Types
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run check-types

      - name: Test
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run test-ci

      - name: Validate Config Example
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run validate-config-example

      - name: Publish Test Report
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always() # always run even if the previous step fails
        with:
          job_summary: true
          report_individual_runs: true
          files: 'build/test-result/*.xml'

      - name: Coverage to xml
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run test-ci-coverage

      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: build/coverage.xml
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '70 99'

      - name: Find PR number
        uses: jwalton/gh-find-current-pr@v1
        id: findPr
        if: github.ref_name != 'main'
        with:
          state: open

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          recreate: true
          number: ${{ steps.findPr.outputs.pr }}
          path: code-coverage-results.md

      - name: Build
        uses: VaultVulp/action-pipenv@v2.0.1
        if: github.ref_name != 'main'
        env:
          PIPENV_DONT_LOAD_ENV: true
          MPYL_VERSION: "${{ steps.findPr.outputs.pr }}.${{ github.run_number }}"
        with:
          command: run build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@a3a3bafbb3e5a75a854ae1bc53ae128cf22c4af4
        if: github.ref_name != 'main'
        id : publish
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          verbose: true
          print-hash: true
          skip-existing: true

      - name: Comment Published package
        uses: thollander/actions-comment-pull-request@v2
        if: success()
        with:
          pr_number: ${{ steps.findPr.outputs.pr }}
          message: |
            New release `${{ steps.findPr.outputs.pr }}.${{ github.run_number }}` deployed at [Test Pypi](https://test.pypi.org/project/mpyl/)
          reactions: rocket
          comment_tag: execution
