name: docs

# build the documentation whenever there are new commits on main
on:
  push:
    branches:
    - main

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install pipenv
      run: pip install pipenv

    - name: Install dependencies
      run: pipenv install -d

    - name: Build docs
      run: pipenv run doc

    - name: Copy schemas
      run: |
        chmod -R 0755 docs/schema
        cp src/mpyl/schema/* docs/schema

    - uses: actions/upload-pages-artifact@v1
      with:
        path: docs/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - id: deployment
      uses: actions/deploy-pages@v1