name: Publish to PyPI.org
on:
  release:
    types: [ "published" ]
jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        id: install-python
        with:
          python-version: '3.9'

      - name: Install pipenv
        run: pip install pipenv

      - name: Install dependencies
        run: pipenv install -d --deploy

      - name: Validate version
        run: python latest_release.py "${{ github.event.release.name }}"

      - name: Build
        env:
          PIPENV_DONT_LOAD_ENV: true
          MPYL_VERSION: "${{ github.event.release.name }}"
        run: pipenv run build

      - name: Publish package
        env:
          TWINE_COMMENT: "${{ github.event.release.body }}"
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_RELEASE_API_TOKEN }}
        run: pipenv run publish